@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.home-bg{
    background: url('../../../img/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}
.hero-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.hero-title #the-joke-bible{
    font-family: Montserrat;
    height: 72px;
    font-size: 48px;
    display: block;
    color: #cfb995;
    line-height: 1.5;
}
.hero-title p{
    color: #fff;
    font-family: Montserrat;
    font-size: 20px;
}